Repository hyochan/expo-iap, pull requests merged in 2025-05, with the labels that each got.

#45 add jwsRepresentationIos to the returned map of getAvailableItems
  ios/ExpoIapModule.swift
  src/types/ExpoIapIos.types.ts
Labels: 📱 iOS, 🛠 bugfix

#48 fix: currentPurchase persistence issue
  src/useIap.ts
Labels: 🛠 bugfix

#49 fix: subscription renewal status not emitting events
  example/App.tsx
  example/app.json
  ios/ExpoIapModule.swift
  package.json
  src/modules/ios.ts
  src/useIap.ts
Labels: 🍗 enhancement, 📱 iOS, 🛠 bugfix

#50 Add iOS receipt validation functionality
  example/App.tsx
  ios/ExpoIapModule.swift
  package.json
  src/modules/ios.ts
  src/useIap.ts
Labels: 🎯 feature, 📱 iOS

#52 fix: return jwsRepresentationIos in getAvailableItems
  ios/ExpoIapModule.swift
  package.json
Labels: 📱 iOS, 🛠 bugfix

#53 feat: add restorePurchases & optimize subs refresh flow
  src/useIap.ts
Labels: 🎯 feature
