Repository hyochan/expo-iap, pull requests merged in 2025-07, with the labels that each got.

#80 feat: expo-iap documentations
  .github/workflows/docs.yml
  .npmignore
  README.md
  docs/.eslintrc.js
  docs/.gitignore
  docs/.vscode/settings.json
  docs/ERROR_CODES.md
  docs/IAP.md
  docs/README.md
  docs/SETUP_GUIDE.md
  docs/blog/2025-06-01-welcome-to-expo-iap.md
  docs/blog/authors.yml
  docs/blog/tags.yml
  docs/bun.lock
  docs/docs/api/error-codes.md
  docs/docs/api/index.md
  docs/docs/api/methods/_category_.json
  docs/docs/api/methods/core-methods.md
  docs/docs/api/methods/listeners.md
  docs/docs/api/types.md
  docs/docs/api/use-iap.md
  docs/docs/examples/_category_.json
  docs/docs/examples/basic-store.md
  docs/docs/examples/complete-store.md
  docs/docs/examples/subscription-manager.md
  docs/docs/getting-started/setup-android.md
  docs/docs/getting-started/setup-ios.md
  docs/docs/guides/_category_.json
  docs/docs/guides/error-handling.md
  docs/docs/guides/faq.md
  docs/docs/guides/getting-started.md
  docs/docs/guides/lifecycle.md
  docs/docs/guides/migration.md
  docs/docs/guides/purchases.md
  docs/docs/guides/support.md
  docs/docs/guides/troubleshooting.md
  docs/docs/installation.md
  docs/docs/intro.md
  docs/docusaurus.config.ts
  docs/package-lock.json
  docs/package.json
  docs/sidebars.ts
  docs/src/components/HomepageFeatures/index.tsx
  docs/src/components/HomepageFeatures/styles.module.css
  docs/src/css/custom.css
  docs/src/pages/index.module.css
  docs/src/pages/index.tsx
  docs/src/uis/AdFit.tsx
  docs/src/uis/AdFitTopFixed.tsx
  docs/static/.nojekyll
  docs/static/img/favicon.ico
  docs/static/img/favicon.png
  docs/static/img/hero.png
  docs/static/img/icon.png
  docs/static/img/lifecycle.svg
  docs/tsconfig.json
  docs/yarn.lock
  package.json
Labels: 📖 documentation

#84 fix(ios): cast originalTransactionIdentifierIos to string
  ios/ExpoIapModule.swift
Labels: 🍗 enhancement, 📱 iOS

#91 feat: add offer getStoreFront support for iOS and Android
  android/src/main/java/expo/modules/iap/ExpoIapModule.kt
  docs/bun.lock
  docs/docs/api/methods/core-methods.md
  example/app/index.tsx
  ios/ExpoIapModule.swift
  src/index.ts
Labels: 🎯 feature

#101 feat(ios): add getAppTransaction support for iOS 16.0+
  docs/docs/api/methods/core-methods.md
  ios/ExpoIapModule.swift
  src/index.ts
  src/modules/ios.ts
  src/types/ExpoIapIos.types.ts
Labels: 🎯 feature, 📱 iOS

#103 fix: update purchase history method naming to plural form
  docs/blog/2025-07-21-v2-6-0-release.md
  docs/docs/api/methods/core-methods.md
  docs/docs/api/use-iap.md
  docs/docs/guides/migration.md
  src/index.ts
  src/useIap.ts
Labels: 📖 documentation, 🛠 bugfix

#108 feat(android): update to Google Play Billing Library v8.0.0
  android/build.gradle
  android/src/main/java/expo/modules/iap/ExpoIapModule.kt
  docs/blog/2025-07-22-v2-7-0-release.md
  docs/docs/guides/purchases.md
  example/app.json
  example/app/purchase-flow.tsx
  example/app/subscription-flow.tsx
  package.json
  src/index.ts
Labels: 🎯 feature

#116 fix: add iOS 18.4+ availability check for appTransactionID
  ios/ExpoIapModule.swift
  src/types/ExpoIapIos.types.ts
Labels: 📱 iOS, 🛠 bugfix

#119 fix: resolve iOS build error in promoted product event handler
  CHANGELOG.md
  docs/docs/api/methods/listeners.md
  docs/docs/api/use-iap.md
  docs/docs/guides/lifecycle.md
  docs/versioned_docs/version-2.6/guides/lifecycle.md
  ios/ExpoIapModule.swift
  package.json
  src/index.ts
  src/modules/ios.ts
  src/useIap.ts
Labels: 📖 documentation, 📱 iOS, 🛠 bugfix
