Repository hyochan/expo-iap, pull requests merged in 2025-04, with the labels that each got.

#29 refactor: initConnection and disable functions to return Bool
  ios/ExpoIapModule.swift
Labels: ፦ refactor, 📱 iOS

#33 fix(ios): signature encoding
  ios/ExpoIapModule.swift
Labels: 📱 iOS, 🛠 bugfix

#36 feat: add verified jws representation to serializeTransaction
  ios/ExpoIapModule.swift
  src/types/ExpoIapIos.types.ts
Labels: 🍗 enhancement, 📱 iOS
